AZURE_SPEECH_KEY=
AZURE_SPEECH_ENDPOINT=https://<resource>.cognitiveservices.azure.com/
AZURE_SPEECH_VOICE=en-US-Adam:DragonHDLatestNeural

REVID_API_KEY=
REVID_API_BASE=https://www.revid.ai/api/public/v3
REVID_VOICE_ID=
